---
import Layout from "../layouts/Layout.astro"
---

<Layout>
    
    <h3>Sobre nosotros</h3>

    <img src="practica1.jpg" alt="" width="400px" height="200px">


    <div>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, voluptate.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, voluptate.</p>
        
    </div>

</Layout>