---
import Layout from "../layouts/Layout.astro"
---

<Layout>
    
    <section>
        <div>        
            
            <img src="practica1.jpg" alt="" width="400px" height="400px">
            
        </div>
        
        
        <div>
            
            <h3>Sobre nosotros</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, voluptate.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, voluptate.</p>
    
        </div>

    </section>

</Layout>

<style>

    section {
        display: flex;
        flex-direction: row;
        gap: 15px;
        align-items: start;
        justify-content: start;
    }

</style>