---
import Layout from "../layouts/Layout.astro"
import TarjetasBlog from "../components/TarjetasBlog.astro"
---

<Layout>
    
    <section>
        
        <TarjetasBlog>
        </TarjetasBlog>
    
        <TarjetasBlog>
        </TarjetasBlog>
    
        <TarjetasBlog>
        </TarjetasBlog>

    </section>

</Layout>

<style>

section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

</style>