---
import Layout from "../layouts/Layout.astro";
---

<Layout> Contactanos </Layout>
<section>
    <div>
        <h3>Ubicación</h3>
        <p>Valencia, Av. Bolivar</p>
        <h3>Número de telefono</h3>
        <p>+21213124</p>
    </div>
    <div>
        <form>
            <h1>Ingrese sus datos para contactarnos</h1>
            <input type="email" placeholder="Tu correo electrónico" />
            <input type="number" placeholder="Tu número de teléfono" />
            <input type="text" placeholder="Razon de consulta" />
            <button type="submit">Enviar</button>
        </form>
    </div>
</section>
