---
import Layout from "../layouts/Layout.astro";

---

<Layout> 
<section class="bg-blue-600">
    <!-- <div>
        <h3>Ubicación</h3>
        <p>Valencia, Av. Bolivar</p>
        <h3>Número de telefono</h3>
        <p>+21213124</p>
    </div> -->
    <div>
        <form>
            <h2>Ingrese sus datos para contactarnos</h2>
            <p class="text-white font-bold gap-0.5">Correo electronico</p>
            <input type="email"/>
            <p class="text-white font-bold">Numero de telefono</p>
            <input type="number"/>
            <p class="text-white font-bold">Razon de consulta</p>
            <input type="text"/>
            <button type="submit" class="font-bold text-white bg-blue-800 hover:bg-blue-900 px-4 py-2 rounded">Enviar</button>
        </form>
    </div>
</section>

</Layout>

<style>
input {
    background-color: white;
    outline: none;
    padding: 8px;
}

h2 {
    flex-direction: column;
    font-size: 36px;
    font-weight: bold;
    color: rgb(10, 10, 10);
    color: white;
    text-align: center;
    gap: 40px;
}

section {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: start;
    justify-content: center;
    padding: 40px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
</style>