---
// Parte logica
import Layout from "../layouts/Layout.astro";
---

<Layout>

<section>
	<div>
		<h1>Clinica Dermatologia Valencia</h1>
		<p>Tu salud es nuestra prioridad</p>
		<img src="practica5.jpg" alt="" width="400px" height="400px"/>
		<div>
			<button>Contactar</button>
			<button>Saber más</button>
		</div>
	</div>
	
</section>

</Layout>