---
// Parte logica
import Layout from "../layouts/Layout.astro";
---

<Layout> Vista inicial </Layout>

<section>
	<div>
		<p>Tu salud es nuestra prioridad</p>
		<img src="practica.jpg" alt="" />
		<div>
			<button>Contactar</button>
			<button>Saber más</button>
		</div>
	</div>
	
</section>

