---
// Parte logica
import Layout from "../layouts/Layout.astro";
---

<Layout> Vista inicial </Layout>

<section>
	<div>
		<h1>Bienvenido a Dermatologia Valencia</h1>

		<img src="practica.jpg" alt="" />
		
		<div>
			<button>Contactar</button>
			<button>Saber más</button>
		</div>
		
	</div>
	
</section>

