---
// Parte logica
import Layout from "../layouts/Layout.astro";
---

<Layout> Vista inicial </Layout>

<section>
	<div>
		<h1>Bienvenido a Dermatologia Valencia</h1>
		<div>
			<button>Contactar</button>
			<button>Saber más</button>
		</div>
	</div>
	<img src="practica.jpg" alt="" />
</section>
