---
import { Icon } from "astro-icon/components";
---

<nav>

	<div>
		<Icon name="iconpractica" width="56" height="56" />

	</div>

		<div>
			<a href="/">Inicio</a>
			<a href="/about-us">Sobre mi</a>
			<a href="/contact">Contacto</a>
			<a href="/blog">Blog</a>
		</div>

</nav>

<style>
	/* Estilos para el menú de navegación */
	nav {
		display: flex;
		
	}

</style>