---
import { Icon } from "astro-icon/components";
---

<section>
	<nav>
		<div>
			<Icon name="iconpractica" width="56" height="56" />
		</div>

		<div class="Busqueda">
			<a href="/">Inicio</a>
			<a href="/about-us">Sobre mi</a>
			<a href="/contact">Contacto</a>
			<a href="/blog">Blog</a>
		</div>
	</nav>
</section>

<style>
	/* Estilos para el menú de navegación */
	nav {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		align-items: end;
	}

	div {
		display: flex;
		gap: 20px;
	}

	.Busqueda a {
		color: rgb(0, 0, 0);
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		font-weight: 600;
		text-decoration: none;
	}
</style>
