<footer>
    <div>
        <p>Todos los derechos reservados &copy; 2024</p>
    </div>
    <div>
        <h3>Trinibeth Ortega</h3>
        <p>dermatologa</p>
    </div>

    <div>
        <h3>Contacto:</h3>
        <p>Telefono: +58 123456789</p>
    </div>
</footer>

<style>
    footer {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        background-color: rgba(0, 98, 255);
        padding: 10px 50px;
        color: white;
        gap: 50px;
    }
    h3 {
        font-size: 20px;
        font-weight: bold;
        gap: 20px;
    }
</style>
