<section>

    <img src="practica3.jpg" alt="" width="300px" height="300px"/> 

        <div>

            <h3>titulo</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, voluptate.</p

        </div>

</section>

<style>

    section {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }
    
</style>