<section>

    <img src="" alt=""> 

        <div>

            <h3>titulo</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, voluptate.</p

        </div>

</section>