---
const titulo = Astro.props.titulo
const descripcion = Astro.props.descripcion
const fecha = Astro.props.fecha
const img = Astro.props.img
---

<section>
    <img src={img} alt="" width="200px" height="100px" />

    <div>
        <h3>{titulo}</h3>
        <p class="Fechas">{fecha}</p>
        <p class="Texto">{descripcion}</p>
        <a href="#">Leer más...</a>
    </div>
</section>

<style>
    a {
        color: rgb(0, 1, 1);
        font-weight: 600;
        text-decoration: none;
    }

    section {
        display: flex;
        flex-direction: row;
        align-items: start;
        gap: 20px;
        background-color: rgba(0, 0, 255, 0.096);
        padding: 25px 25px;
    }

    h3 {
        font-size: 30px;
        font-weight: bold;
    }

    .Fechas {
        font-size: 14px;
    }

    .Texto {
        font-size: 20px;
    }
</style>
