<section>

    <img src="/practica3.jpg" alt="" width="200px" height="100px"/> 

        <div>

            <h3>titulo</h3>
            <p>(fechas y descripcion)</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, voluptate.</p>
            <a href="#">Leer más...</a>

        </div>

</section>

<style>

    a {
        color: rgb(0, 98, 255);
        font-weight: 600;
        text-decoration: none;
    }

    section {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        background-color: rgb(153, 152, 152);
    }
    
</style>