<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Dermatologia Valencia</title>
	</head>

<nav>

	<div>
		<p>Tu salud es nuestra prioridad</p>
		<p>Cuidados de la piel</p>
	</div>

		<div>
			<a href="/">Inicio</a>
			<a href="/about-us">Sobre mi</a>
			<a href="/contact">Contacto</a>
			<a href="/blog">Blog</a>
		</div>
		
</nav>

	<body>

		
		<slot />
		Pie de pagina

	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
