---
import { Icon } from 'astro-icon/components'
import Menu from '../components/MenuPrincipal.astro'
import Pie from '../components/Pie.astro'
import "../styles/global.css"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Dermatologia Valencia</title>
	</head>



	<body>

		<Menu></Menu>

		<slot />

		<Pie></Pie>

	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		background-color: rgb(224, 255, 251);
	}
</style>
